{% include 'include.html' %}
{% include 'navbar.html' %}
{% block body %}
<h1 class="text-center">Contacts</h1>
<div>
    <table class="table" id="example" style="margin: 0px 100px 10px 200px"><!--table-hover-->
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            <tr style="color: black;">
                <td>Manakamana Hospital</td>
                <td>064-690461</td>
            </tr>
            <tr style="color: black;">
                <td>Prithivi Narayan Samudayik Hospital</td>
                <td>064-467552</td>
            </tr>
            <tr style="color: black;">
                <td>Aama-Baa Hospital</td>
                <td>980-5854242</td>
            </tr>
            <tr style="color: black;">
                <td>Gorkha Memorial Hospital</td>
                <td>064-690461</td>
            </tr>
            <tr style="color: black;">
                <td>Gorkha Hospital</td>
                <td>062-420918<br>064-420208</td>
            </tr>
            <tr style="color: black;">
                <td>Gorkha Ayurved Company Pvt.Ltd</td>
                <td>+977-64-420170</td>
            </tr>
            <tr style="color: black;">
                <td>Rajaram Medical</td>
                <td>064-124982</td>
            </tr>
            <tr style="color: black;">
                <td>Ambulance</td>
                <td>9840756660<br>064-430123</td>
            </tr>
            <tr style="color: black;">
                <td>Green City Hospital</td>
                <td>+977-1-4981133</td>
            </tr>
            <tr style="color: black;">
                <td>Nepal Mediciti</td>
                <td>9801235698</td>
            </tr>
            <tr style="color: black;">
                <td>Grande International Hospital</td>
                <td>015159267<br>+977 15159266</td>
            </tr>
            <tr style="color: black;">
                <td>Civil Service Hospital</td>
                <td>+977 01-4107000<br>01-4107002</td>
            </tr>
            <tr style="color: black;">
                <td>Norvic Hospital</td>
                <td>+977 1-5970032<br>Emergency: +977-1-4101600</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="scroll-top-wrapper"><span class="scroll-top-inner"><i class="fa fa-arrow-circle-up"></i></span></div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,32L30,48C60,64,120,96,180,128C240,160,300,192,360,213.3C420,235,480,245,540,224C600,203,660,149,720,112C780,75,840,53,900,85.3C960,117,1020,203,1080,229.3C1140,256,1200,224,1260,202.7C1320,181,1380,171,1410,165.3L1440,160L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path></svg>
{% endblock %}