<!DOCTYPE html>
<html>

<head>
    {% include 'include.html' %}
    {% load static %}
</head>

<body>
    {% include 'adminnav.html' %}
    <div id="wrapper">
        {% include 'reception_nav.html' %}
        <div class="page-content-wrapper">
            <div class="container-fluid"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars"></i></a>
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <h3 class="text-center">You are successfully logged in {{ user.first_name }}</h3>
                        </div>
                        <div class="page-content-wrapper">
                            <h2 class="text-center">ALL PATIENTS</h2>
                            <section id="team" class="pb-5">
                                <div class="container">
                                    <table class="table" id="example"><!--table-hover-->
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Gender</th>
                                                <th>Phone Number</th>
                                                <th>Address</th>
                                                <th>Date of Birth</th>
                                                <th>Blood Group</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for p in pat %}
                                            <tr style="color: black;">
                                                <td>{{ p.name }}</td>
                                                <td>{{ p.email }}</td>
                                                <td>{{ p.gender }}</td>
                                                <td>{{ p.phonenumber }}</td>
                                                <td>{{ p.address }}</td>
                                                <td>{{ p.birthdate }}</td>
                                                <td>{{ p.bloodgroup }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include 'redirecthome.html' %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/back-to-top-scroll.js' %}"></script>
<script src="{% static 'js/Bold-BS4-Animated-Back-To-Top.js' %}"></script>
<script src="{% static 'js/bs-init.js' %}"></script>
<script src="{% static 'js/Sidebar-Menu.js' %}"></script>
</body>

</html>